<!-- 

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h2>Distribuidora Matute</h2>

<div class="row">
  <div class="col-75">
    <div class="container">
      <form action="/action_page.php">
      
        <div class="row">
          <div class="col-50">
            <h3>Facturacíon</h3>
            <label for="fname"><i class="fa fa-user"></i> Nombre Completo</label>
            <input  [(ngModel)]="nombres" type="text" id="fname" name="firstname" placeholder="Ernesto Ruales">
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" id="email" name="email" placeholder="john@example.com">
            <label for="adr"><i class="fa fa-address-card-o"></i> Direccíon</label>
            <input  [(ngModel)]="direccion" type="text" id="adr" name="address" placeholder="Av 5 Callejon 17">
            <label for="city"><i class="fa fa-institution"></i> Ciudad</label>
            <input type="text" id="city" name="city" placeholder="Guayaquil">

            <div class="row">
          
          
              <div class="col-50">
                <label for="zip">Zip</label>
                <input type="text" id="zip" name="zip" placeholder="10001">
              </div>
            </div>
          </div>

      
        </div>
        <label>
          <input type="checkbox" checked="checked" name="sameadr"> La direccíon de entrega es la misma que la de facturacíon
        </label>
        <input type="submit" value="Continue to checkout" class="btn">
      </form>
    </div>
  </div>
  <div class="col-25">
    <div class="container"  >
      <h4>Carrito <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b>{{total}} </b></span></h4>
      
     
      <tbody>
        <tr *ngFor="let item of carrito">
           <td>{{item.name}}</td>
           
           <td>{{item.price}}</td>
        </tr>
      </tbody>
  
     
     
      <p>Total <span class="price" style="color:black"><b>{{total}}</b></span></p>
      <ion-button expand="block" (click)="realizarCompra()">Realizar compra</ion-button>
    </div>
  </div>
</div>

 -->

 <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Ingrese sus datos</ion-title>
  </ion-toolbar>
</ion-header>
<!-- <ion-content class="list-mini-content" padding>

  <ion-list>
    <ion-item>
      <ion-label>Nombre del producto a comprar</ion-label>
      <ion-label>Precio</ion-label>

    </ion-item>
    <ion-item *ngFor="let item of carrito" >
     
      <ion-label>{{item.name}}</ion-label>
      <ion-label>{{item.price}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content> -->
<ion-content padding>
  
  <ion-list>
    <ion-item>
      <ion-label>Nombre del producto a comprar</ion-label>
      <ion-label>Precio</ion-label>
      <ion-label>Cantidad</ion-label>

    </ion-item>
    <ion-item *ngFor="let item of carrito" >
      <ion-icon name="checkbox"></ion-icon>
      <ion-label>{{item.name}}</ion-label>
      <ion-badge color="secondary">{{item.price}}</ion-badge>
      <ion-label> </ion-label>
      <ion-badge color="success">{{item.amount}}</ion-badge>
      <ion-label> </ion-label>
      
    </ion-item>
  </ion-list>
  <ion-text color="dark">El total de la factura es: ${{total}} USD </ion-text>
  
  <ion-title color="dark">Ingrese datos de facturacion</ion-title>
  <form [formGroup]="validations_form" (ngSubmit)="realizarCompra(validations_form.value)">
    <ion-item>
      <ion-label position="floating" color="primary">Nombres completos</ion-label>
      <ion-input type="text" formControlName="nombres"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Direccion</ion-label>
      <ion-input type="text" formControlName="direccion"></ion-input>
    </ion-item>
    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">Realizar compra</ion-button>
  </form>

  
</ion-content>
