

.header-row{

    background-color: #3880ff;
    font-style: normal;
    font-size: larger;
    text-decoration-color: white;
}
.col-text{

    color: white;
     
    font-weight: bold;
}

#t, #t1{

    color: white;
     
    font-weight: bold;
}