<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/new-task']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Tasks List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="items" class="list-mini-content" padding>
  <div *ngIf="items.length > 0" class="list-mini">
    <ion-list>
      <ion-item
        *ngFor="let item of items"
        [routerLink]="['/details', item.payload.doc.id]"
      >
        <ion-thumbnail slot="start">
          <img [src]="item.payload.doc.data().image" />
        </ion-thumbnail>
        <ion-label>{{item.payload.doc.data().title}}</ion-label>
        <ion-button fill="clear" slot="end">DetailsASADSADF</ion-button>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="items.length == 0" class="empty-list">
    Please create your first task.
  </div>
</ion-content>

<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCart()" #cart>
      <div class="cart-length">{{cartItemCount | async}}</div>
      <ion-icon name="cart" class="cart-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-card *ngFor="let p of products">
      <ion-card-header>
        <ion-card-title>
          {{p.name}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-label color="secondary">
              <b>{{ p.price | currency:'USD' }}</b>
            </ion-label>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <ion-button fill="clear" (click)="addToCart(p)">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer (click)="logout()">
  <ion-toolbar color="medium">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>
